<template>
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Add Category</h4>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="addCategory">
                            <div class="form-group">
                                <label>Name</label>
                                <input v-model="form.name" type="text" name="name"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Image</label>
                                <input type="file"  @change="uploadImage" name="image"
                                       class="form-control">

                                
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <input v-model="form.description" type="description" name="description"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                                <has-error :form="form" field="description"></has-error>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                form: new Form({
                    name: '',
                    description: '',
                    image:'default.jpg',
                })
            }
        },
        methods:{
            addCategory(){
                this.form.post('api/categories/store')
                    .then(({ data }) => {
                        console.log(data);
                        Toast.fire({
                            icon: 'success',
                            title: 'Save in successfully'
                        });
                    });
            },
            uploadImage(e){
                let file = e.target.files[0];
                let reader = new FileReader();
                reader.onloadend = (file) =>{
                    this.form.image=reader.result;
                };
                reader.readAsDataURL(file);
            }
        }
    }
</script>
