<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">View</div>

                    <div class="card-body">
                       <table  class="table table-bordered table-striped">
                           <thead>
                               <th>SL</th>
                               <th>Name</th>
                               <th>Image</th>
                               <th>Description</th>
                               <th>Action</th>
                           </thead>
                           <tbody>
                           <tr v-for="(category,index) in categories">
                               <td>
                                   {{index+1}}

                               </td>
                               <td>
                                  {{category.name}}
                               </td>
                               <td style="text-align:center">

                                   <img  height="100px" width="200px" :src="getCategoryImage(category.image)" alt="">
                               </td>
                               <td>
                                   {{category.description}}
                               </td>
                               <td>

                                  <a href="#" @click.prevent="deleteCategory(category.id)"  class="badge badge-danger ">
                                       Delete
                                   </a>

                                   <a href="#" @click.prevent="Model(category)"  class="badge badge-warning ">
                                       Edit
                                   </a>

                                   

                               </td>
                           </tr>
                           </tbody>
                       </table>
                    </div>


<div class="modal fade bd-example-modal-lg"  id="editModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Update Data Category</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form @submit.prevent="updateCategory" v-if="form.image">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                                <input v-model="form.name" type="text" name="name"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                                                <has-error :form="form" field="name"></has-error>
                                                            </div>


                                                            <div class="form-group">
                                                                     <img  height="100px" width="100%" :src="thisCategoryImage()" alt="">
                                                                     <hr>
                                                                   <input type="file"  @change="updateImage" name="image" class="form-control">
                                                                </div>

                                                            <div class="form-group">
                                                                <label>Description</label>
                                                                <input v-model="form.description" type="description" name="description"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                                                                <has-error :form="form" field="description"></has-error>
                                                            </div>

                                                            <button type="submit" class="btn btn-primary float-right">Update</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cencel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                categories:{},
                form: new Form({
                    id:'',
                    name: '',
                    description: '',
                    image:'',
                })
            }
        },
        mounted() {
           this.getCategories();
        },
        created(){
          this.getCategories();
        },
        methods:{
            updateImage(e){
                let file = e.target.files[0];
                let reader = new FileReader();
                reader.onloadend = (file) =>{
                    this.form.image=reader.result;
                };
                reader.readAsDataURL(file);
            },
            getCategoryImage(image){
                return "images/categories/"+image;
            },
            thisCategoryImage(){
                let photo=(this.form.image.length>200) ? this.form.image : "images/categories/"+this.form.image;
                return photo;
            },
            getCategories(){
                axios.get('api/categories')
                    .then(response=>{
                       this.categories=response.data;
                    }).catch(error=>{
                        console.log(error);
                });
            },
            deleteCategory(category_id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                    this.form.post('api/categories/delete/'+category_id)
                        .then(()=>{
                            swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                          this.getCategories();
                        }).catch(error=>{
                        swal.fire(
                            'Failed!',
                            'Your Not deleted.',
                            'warning'
                        )
                    });
                    }
                });
            },
            Model(category){
                this.form.reset();
                $('#editModel').modal('show');
                this.form.fill(category);
            },
            updateCategory(){

                this.form.post('api/categories/update/'+this.form.id)
                    .then(()=>{
                        $('#editModel').modal('hide');
                        this.getCategories();
                        Toast.fire({
                            icon: 'success',
                            title: 'Update in successfully'
                        });
                    }).catch(error=>{
                    Toast.fire({
                        icon: 'success',
                        title: 'Some Error Is Occar'
                    });
                });
            }
        }
    }
</script>
